.topnav {
  background-color: #333;
  overflow: hidden;
  border-radius: 1.565vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3.13vh;
  height: 11.738vh;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 3.13vh;
  padding: 11.738vh 0;
}
.topnav a:not(:first-child) {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  padding-left: 2.504vh;
  padding-right: 2.504vh;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.topnav a.logo {
  background-color: #aa0404;
  color: white;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.topnav a.product-button {
  background-image: url('../../Images/stagefrightmerch.webp');
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  height: 33vh;
  cursor: pointer;
}
.logoimage {
  width: 7.825vh;
  height: 7.825vh;
  padding: 1.097vh;
  margin: 0.784vh;
}
body {
  margin: 1.252vh;
}
@font-face {
  font-family: "OpenDyslexic";
  src: url("../../public/Fonts/opendyslexic/OpenDyslexic-Regular.woff2")
      format("woff2"),
    url("../../public/Fonts/opendyslexic/OpenDyslexic-Regular.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}
.high-contrast {
  --background-color: #000000;
  --text-color: #ffffff;
  --link-color: #00ffff;
  --button-background: #ffcc00;
  --button-text: #000000;
  --border-color: #ffffff;
  background-color: var(--background-color) !important;
  color: var(--text-color) !important;
  border-color: var(--border-color) !important;
}
.high-contrast a {
  color: var(--link-color) !important;
  text-decoration: underline;
}
.high-contrast button,
.high-contrast input[type="button"],
.high-contrast input[type="submit"] {
  background-color: var(--button-background) !important;
  color: var(--button-text) !important;
}
.open-dyslexic {
  font-family: "OpenDyslexic", sans-serif !important;
}
.open-dyslexic input,
.open-dyslexic textarea,
.open-dyslexic button {
  font-family: "OpenDyslexic", sans-serif !important;
}

.product-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
}

.product-image img {
  width: 33vh;
  height: 33vh;
}

.overlay {
  position: fixed;
  top: 11.738vh;
  left: 0;
  width: 100%;
  height: calc(100% - 11.738vh);
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.overlay.active {
  display: flex;
}
